.vertical-center {
  height:100%;
  width:100%;
  text-align: center;
}

.inputGroup{
  margin:30px;
}


#chartWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:0px;
}

.fretCircle{
  fill:black;
  stroke:black;
  cursor:pointer;
  r:6;
}

.circle{
  fill:white;
  stroke:white;
  r:6;
}

.circle:hover{
  fill:#16B1D7;
  stroke:#16B1D7;
  r:7;
}

.modalcircle{
  fill:#494949;
  stroke:#494949;
  r:6;
}

.modalcircle:hover{
  fill:#16B1D7;
  stroke:#16B1D7;
  r:7;
}

.chart{
  fill:white;
}

.modalchart{
  fill:#494949;
}

.graphBox{
  background-color:transparent;
  color:white;
  text-align:center;
  margin-top:0px;
  margin:10px;
}

.modalChartContainer{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.modalChartBox{
  background-color:transparent;
  width:auto;
}

.tooltip {
  background-color:red;
  color:white;
  padding:30px;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
