#chartWrap{
  display: flex;
  background-color:white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#chartWrap > div{
  padding:0px;
}

.circle{
  fill:#4F4F4F;
  stroke:#4F4F4F;
  r:6;
}

.circle:hover{
  fill:#16B1D7;
  stroke:#16B1D7;
  r:7;
}

.chart{
  fill:#4F4F4F;
}
